@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  background-color: #85a0c7;
  box-sizing: border-box;
  border-top: solid 30px #325787;
  border-bottom: solid 30px #325787;
  overflow: hidden;
}

.Top {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #89b3a4;
  color: #f7c3c3;
  border-radius: 30px 30px 225px 30px;
  border: solid 5px rgba(0, 0, 0, 0.1);
  margin-top: -100px;
  margin-left: -75px;
  font-family: 'Anton', sans-serif;
}
.Top h3 {
  margin-left: 100px;
  margin-top: 100px;
  font-size: 30px;
  width: 100px;
  line-height: 60px;
}

.screen {
  width: 100%;
  height: 100%;
  left: 100%;
}

.namecard {
  position: fixed;
  width: 300px;
  height: 450px;
  left: 700px;
  top: 100px;
  padding: 0px 20px 30px 20px;
  background-color: #7394bf;
  color: #fff;
  border: solid 10px rgba(0, 0, 0, 0.15);
  box-shadow: 10px 20px 15px -15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: 微軟正黑體;
  transition: 1s;
}
.namecard hr {
  border-color: #fff;
  margin-top: -15px;
  margin-bottom: 20px;
}
.namecard h2 {
  font-size: 30px;
}
.namecard h4 {
  font-size: 18px;
  font-weight: 400px;
}
.namecard h5 {
  font-size: 20px;
  font-weight: 400px;
}

.namecard:hover {
  transform: translate(-50px, -50px);
  box-shadow: -20px -25px 20px -15px rgba(0, 0, 0, 0.5);
}

.buttons {
  margin-top: -200px;
  margin-left: 170px;
}

.buttons .btn {
  display: inline-block;
  padding: 10px 25px;
  letter-spacing: 2px;
}

.btnWebsite {
  background-color: #6FB7B7;
  color: white;
  transition: 0.5s;
}

.allbub {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffebeb;
}

@keyframes back {
  0% {
    background-color: #cac5eb;
  }
  25% {
    background-color: #e6bcbc;
  }
  50% {
    background-color: #ffe59e;
  }
  75% {
    background-color: #c8d98f;
  }
  100% {
    background-color: #8ab2cf;
  }
}
.allbub {
  animation: back 5s infinite;
}

@keyframes title {
  0% {
    margin-top: -200px;
    margin-left: -300px;
  }
  50% {
    margin-top: -75px;
    margin-left: -50px;
  }
  100% {
    margin-top: -100px;
    margin-left: -75px;
  }
}
.Top {
  animation-name: title;
  animation-duration: 4s;
}

.heart {
  position: fixed;
  margin-top: 400px;
  animation-name: heartmove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 2;
}

.h1 {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: #f75;
}

.h2 {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 40px;
  border-radius: 50%;
  background-color: #f75;
}

.h3 {
  height: 49px;
  width: 49px;
  position: absolute;
  top: 21px;
  left: 21px;
  transform: rotate(45deg);
  background-color: #f75;
}

@keyframes heartmove {
  0% {
    left: 0px;
  }
  50% {
    transform: scale(1, 0.5) rotate(-360deg);
  }
  100% {
    left: 800px;
  }
}
img {
  position: fixed;
  margin-top: 250px;
  margin-left: 200px;
}
